---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Performance from "../components/Performance.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Header />
  <main class="flex flex-col gap-5">
    <Hero />
    <About />
    <Performance />
  </main>
  <Footer />
</Layout>
