<section>
  <div class="container">
    <video
      src="https://tyrrelprofessional.com/wp-content/uploads/2023/10/VIDEO-MODELOS-FEIRA.mp4"
      autoplay=""
      muted="muted"
      controlslist="nodownload"></video>
  </div>
</section>
