<section class="flex flex-col justify-center items-center">
  <h1 class="capitalize text-7xl text-tawny font-ClickerScript mb-4">
    New Performace
  </h1>
  <h2 class="text-2xl font-Montserrat font-bold">
    MADE BY PROFESSIONALS FOR PROFESSIONALS.
  </h2>
  <p class="max-w-prose font-semibold">
    Designed by professionals and for professionals with our top experts
    scientists and hairdressers working side by side in every part of the world.
    Together, they tested and selected the best performing technologies to
    provide the best technical performance for each service.
  </p>
</section>
