---
import LucideIcon from "@/components/LucideIcon.astro";
import { Facebook, Instagram, Youtube } from "lucide";
---

<div class="flex flex-row bg-neutral-950 text-foreground justify-between px-4">
  <div id="socials">
    <ul class="flex flex-row gap-4">
      <li><LucideIcon class="w-8 h-8" icon={Facebook} /></li>
      <li><LucideIcon class="w-8 h-8" icon={Instagram} /></li>
      <li><LucideIcon class="w-8 h-8" icon={Youtube} /></li>
    </ul>
  </div>
  <div id="internationalization">
    <p>translate icons</p>
  </div>
</div>
