---
import "../main.css";
import Header from "../components/Header.astro";
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="en" class="sm:overflow-auto">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Clicker+Script&family=Inter:wght@300;400&family=Montserrat:wght@800;900&display=swap"
      rel="stylesheet"
    />

    <ViewTransitions />
    <!-- <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/images/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/favicon-16x16.png"
    />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="manifest" href="/site.webmanifest" />
    <link
      rel="mask-icon"
      href="/images/safari-pinned-tab.svg"
      color="#5bbad5"
    /> -->
    <meta name="generator" content={Astro.generator} />
    <meta property="og:title" content="TYRREL PROFESSIONAL" />
    <meta property="og:site_name" content="tyrrelprofessional" />
    <meta property="og:url" content="..." />
    <meta
      property="og:description"
      content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut luctus odio. Curabitur in feugiat quam. Nulla facilisi. Nullam volutpat lacus in tortor luctus, non consectetur sapien aliquam."
    />
    <meta property="og:type" content="business.business" />
    <title>TYRREL PROFESSIONAL</title>
  </head>
  <body class="min-h-screen bg-background text-foreground">
    <slot />
  </body>
</html>
